/*?FUENTES*/
@font-face {
  font-family: WorkSans-Bold;
  src: url('WorkSans-Bold.ttf') format('truetype');
}
/*font-family: WorkSans-Bold, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-ExtraLight;
  src: url('WorkSans-ExtraLight.ttf') format('truetype');
}
/*font-family: WorkSans-ExtraLight, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Light;
  src: url('WorkSans-Light.ttf') format('truetype');
}
/*font-family: WorkSans-Light, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Medium;
  src: url('WorkSans-Medium.ttf') format('truetype');
}
/*font-family: WorkSans-Medium, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Regular;
  src: url('WorkSans-Regular.ttf') format('truetype');
}
/*font-family: WorkSans-Regular, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Thin;
  src: url('WorkSans-Thin.ttf') format('truetype');
}
/*font-family: WorkSans-Thin, Arial, sans-serif;*/
/*?FIN FUENTES*/


/*TODO - GENERAL*/
body {
  margin: 0;
  padding: 0%;
  background-color: #ffffff;
  overflow-x: hidden;
}

/*loader*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid gray;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/*fin loader*/

/*! HEADER*/
#header {
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

#container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#logo-header {
  height: 60px;
}

.links-header {
  margin-right: 30px;
}

.links-header a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: WorkSans-Regular, Arial, sans-serif;
  margin-left: 30px;
  position: relative; 
}

.links-header a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s; 
}

.links-header a:hover::after {
  width: 100%; 
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
/*! FIN HEADER*/

/*-------*/

/*!FOOTER*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 100px;
}

.footer img {
  width: 100px;
}

.footer .footer-center {
  display: flex;
}

.footer .footer-center a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: WorkSans-Regular, Arial, sans-serif;
  margin-left: 30px;
  position: relative; 
}

.footer .footer-center a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s;
}

.footer .footer-center a:hover::after {
  width: 100%; 
}

.footer .footer-right p {
  margin-left: auto;
  font-family: WorkSans-Light, Arial, sans-serif;
  letter-spacing: 3px;
}
/*!FIN FOOTER*/

/*-------*/

/*? INDEX - MAIN */
.ph-container {
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

#title-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
}


.set-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.set-container h2,h3{
  font-family: WorkSans-Regular, Arial, sans-serif;
  font-size: 25px;
}

.set-container h2{
  color: rgb(110, 110, 110);
}

.set-container h3{
  color: gray;
  margin-top: 0px;
}

.about-container {
  display: flex;
  align-items: center; 
  margin-top: 100px;
}

.image-container-tow {
  flex: 0 0 auto;
  margin-right: 50px;
}

.image-container-tow img{
  width: 550px;
}

.text-container {
  flex: 1; 
}

.text-container h4,
.text-container p,
.text-container a {
  text-align: start;
}

.text-container h4{
  color: rgb(110, 110, 110);
  font-family: WorkSans-Regular, Arial, sans-serif;
  font-size: 25px;
}

.text-container p{
  color: gray;
  font-size: 20px;
  font-family: WorkSans-Light, Arial, sans-serif; 
  margin-bottom: 40px;
}

.text-container a{
  color: gray;
  font-family: WorkSans-ExtraLight, Arial, sans-serif;
  border: solid 1px grey;
  text-decoration: none;
  padding: 7px 20px;
}

.gastronomy-container img{
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.contenedor-gastronomy-text {
  display: flex;
  justify-content: center;
  max-width: 900px; 
  margin: 0 auto;  
  margin-top: 70px;
  margin-bottom: 70px;
}

.texto-izquierdo, .texto-derecho {
  flex: 1; 
  margin: 0 40px; 
}

.texto-izquierdo {
  color: gray;
  font-size: 20px;
  font-family: WorkSans-Regular, Arial, sans-serif;
  line-height: 1.7; 
}

.texto-derecho {
  color: gray;
  font-size: 20px;
  font-family: WorkSans-Regular, Arial, sans-serif;
  line-height: 1.7;
}

.texto-derecho p{
  color:rgb(110, 110, 110) ;
  font-family: WorkSans-Bold, Arial, sans-serif;
}

.platos-gastronomy img{
  width: 100%;
  height: 100%;
}

.end-index img{
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.end-index {
  position: relative;
  display: inline-block; 
}

.end-overlay {
  position: absolute;
  top: 50%;
  left: 5%; 
  transform: translateY(-50%);
  color: white; 
}

.end-overlay h1,
.end-overlay h2,
.end-overlay a {
  margin: 0; 
 
}

.end-overlay h1{
  font-family: WorkSans-Thin, Arial, sans-serif;
  font-size: 70px;
  letter-spacing: 5px
}

.end-overlay h2{
  font-family: WorkSans-Thin, Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.end-overlay a{
  color: white;
  font-family: WorkSans-Thin, Arial, sans-serif;
  font-weight: 700;
  border: solid 2px white;
  text-decoration: none;
  padding: 7px 20px;
  font-size: 25px;
}
/*? FIN INDEX - MAIN */

/*-------*/


/*? CONTACT US - MAIN */




/*? FIN CONTACT US - MAIN */

