/*?FUENTES*/
@font-face {
  font-family: WorkSans-Bold;
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
}
/*font-family: WorkSans-Bold, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-ExtraLight;
  src: url('/fonts/WorkSans-ExtraLight.ttf') format('truetype');
}
/*font-family: WorkSans-ExtraLight, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Light;
  src: url('/fonts/WorkSans-Light.ttf') format('truetype');
}
/*font-family: WorkSans-Light, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Medium;
  src: url('/fonts/WorkSans-Medium.ttf') format('truetype');
}
/*font-family: WorkSans-Medium, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Regular;
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
}
/*font-family: WorkSans-Regular, Arial, sans-serif;*/

@font-face {
  font-family: WorkSans-Thin;
  src: url('/fonts/WorkSans-Thin.ttf') format('truetype');
}
/*font-family: WorkSans-Thin, Arial, sans-serif;*/
/*?FIN FUENTES*/


/*TODO - GENERAL*/
body {
  margin: 0;
  padding: 0%;
  background-color: #393939;
  overflow-x: hidden;
}

img {
  border-radius: 1%;
}

/*! HEADER*/
#header {
  border-bottom: #292929 2px solid;
  background-color: #292929;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

#container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#logo-header {
  height: 60px;
}

#links-header a {
  display: inline-block;
  color: #6E7074;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: solid transparent 1px;
  padding: 3px;
  border-radius: 2px;
  font-family: WorkSans-Regular, Arial, sans-serif;
  font-size: 18px;
  font-weight: 350;
}

#links-header :hover {
  border-color: white;
  background-color: #393939;
  border: #292929 2px solid;
  color: white;
  padding: 10px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/*! FIN HEADER*/

/*! FOOTER*/
#links-footer {
  flex-grow: 1;
  text-align: center;
}

#links-footer a {
  display: inline-block;
  color: #6E7074;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: solid transparent 1px;
  padding: 3px;
  border-radius: 2px;
  font-family: WorkSans-Regular, Arial, sans-serif;;
  font-size: 18px;
  font-weight: 350;
}

#links-footer a:hover {
  border-color: white;
  background-color: #393939;
  border: #292929 2px solid;
  color: white;
  padding: 10px;
}

footer {
  border-top: white solid 1px;
  margin-top: 25px;
  padding: 20px;
  color: white;
}

.footer-container {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

.additional-info {
  margin-left: auto;
}

.additional-info h4 {
  margin-bottom: 10px;
}

.additional-info a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  font-family: WorkSans-Regular, Arial, sans-serif;
}


footer {
  border-top: white solid 1px;
  margin-top: 25px;
  padding: 20px;
  color: white;
}

.footer-container {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; 
}


.additional-info {
  margin-left: auto; 
}

.additional-info h4 {
  margin-bottom: 10px;
}
.additional-info a {
  display: block;
  margin-bottom: 10px; 
  text-decoration: none;
  color: white;
}
/*! FIN FOOTER*/

/*------------*/

/*? MAIN INDEX*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  }

.left-section,
.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 40px;
}

#title-index {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 100;
  font-family: WorkSans-Medium, Arial, sans-serif;
}

#subTitle-index {
  font-size: 25px;
  font-weight: 200;
  color: white;
  font-family: WorkSans-Regular, Arial, sans-serif;
}

#ph-container {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.about {
  height: 100vh;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-image: url('IMG\ RITMO/.about');
  background-size: cover;
  background-position: center;
}

#boat-info {
  font-size: 20px;
  font-weight: 350;
  background-color: #39393996;
  font-family: WorkSans-Regular, Arial, sans-serif;
}

.description {
  font-weight: 300;
  margin: 10px 0;
  background-color: #39393996;
  border-radius: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  margin-bottom: 40px;
  font-family: WorkSans-Light, Arial, sans-serif;
}

.description {
  margin: 10px 0;
  background-color: #39393996;
  border-radius: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  margin-bottom: 40px;
  }
  

.link {
  padding: 20px 40px;
  background-color: #39393996;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 2;
  transition: all 1s ease;
  font-weight: 300;
  font-family: WorkSans-Medium, Arial, sans-serif;
}

.link:hover {
  background-color: #39393996;
  border: white solid 1px;
  transition: all 1s ease;
  border-radius: 2%;
}

.text {
  text-align: center;
  color: white;
}

.text h2 {
  margin-top: 0; 
  color: white;
  }

#gastronomy-title {
  margin-top: 0;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  padding-left: 20px;
  
}

#gastronomy-description {
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}
.definitive-title{
  font-family: WorkSans-Medium, Arial, sans-serif;
  font-size: 50px;
}
.definitive-sub-title{
  font-family: WorkSans-Light, Arial, sans-serif;
}
#welcome-text{
  font-family: WorkSans-Regular, Arial, sans-serif;
  font-size: 21px;
}

.gastronomia{
  width: 400px; 
  object-fit: cover;
  margin-left: auto; 
  }

.gastronomia-ph {
  width: 400px;
  object-fit: cover;
  margin-left: auto;
}


.content {
  padding: 20px;
  margin-top: 70px;
  margin-right: 20px;
}

.first-img {
  width: 750px;
}

.content h2 {
  font-weight: 300;
  color: white;
}

.content {
  position: relative;
  padding-right: 20px; 
  flex: 1; 
}

#ph-index {
  width: 100%;
  margin-top: 100px;
  
}

.image {
  flex: 1;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto\9;
}

.image {
  flex: 1; 
  }

  .image {
      flex: 1; 
      text-align: center; 
      }

      .image img {
          max-width: 100%;
          max-height: 100%;
          height: auto;
          width: auto\9; 
          }

          .imagen {
              width: 100%;
              display: block;
              opacity: 1;
              }

.animated-img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.animated-img.show {
  opacity: 1;
}
#container-about-boat{
  margin-top: 50px;
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center; 
}

#content-about-boat {
  max-width: 1000px; 
  width: 100%; 
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  }
  
  .overlay h5 {
  margin: 0;
  background-color: #393939;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2%;
  }

  .contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-auto-rows: minmax(100px, auto); 
    grid-gap: 5px;
    margin-left: 10px;
    margin-right: 10px; 
  }

  .foto {
    width: 100%;
  }
  
  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
  }
  
  .foto :hover{
    filter: none;
    transition: all 0.50s;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .animated-img {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  
  .animated-img.show {
    opacity: 1;
  }

  #text-family{
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
  }

  #family-title{
    margin-left: 20px;
    font-size: 30px;
  }

  #index-title {
    position: relative;
    left: -1000px; 
    transition: left 1s ease; 
  }
  
  #index-title.show {
    left: 0; 
  }


/*? FIN MAIN INDEX*/

/*------------*/

/*? MAIN BOAT INFORMATION*/
#about-us{
  background-color: #292929;
}

.titulo-contact {
  color: white;
  text-align: center;
  margin-top: 125px;
  
}

.content-about {
  flex: 2;
  padding: 20px;
  border: solid white 1px;
  border-radius: 2%;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
}

#img-about img{
  width: 425px;
  margin-bottom: 20px;
}

#about-titulo {
  color: white;
  font-family: "Work Sans", sans-serif;
}
#about-description{
  color: white;
  font-size: 17px;
}

.carousel slide {
  padding-top: 30px;
  margin-top: 40px;

}

#carouselExample {
  margin-top: 25px;
}

.info-container {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 20px; 
  align-items: center; 
}
.info-container h3{
  font-size: 40px;
  font-family: "Work Sans", sans-serif;
  color: white;
}

.info-container p{
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}

#info-title {
  grid-column: 2;
  justify-self: center; 
  margin: 0; 
  margin-top: 20px;
}

#info-ph {
  width: 400px; 
  height: auto; 
  grid-row: span 2;
  margin-left: 20px 
}

#info-description {
  grid-column: 2; 
  margin: 0; 
  margin-right: 20px;
}


@media (max-width: 768px) {
  .info-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
  }
}

/*? FIN MAIN BOAT INFORMATION*/

/*------------*/

/*? MAIN CONTACT*/
.titulo-contact{
  color: white;
  text-align: center;
  margin-top: 125px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 30px;
  }
  form {
  max-width: 400px;
  margin: 0 auto;
  }
  label {
  display: block;
  margin-bottom: 10px;
  color: white;
  }
  input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  }
  textarea {
  height: 100px;
  }

  .contact-us{
      margin-top: 80px;
      }
/*? FIN MAIN CONTACT*/

/*------------*/

/*? MAIN GRANADINES*/
.contenedor-imagen {
  position: relative;
  }

  .contenedor-imagen::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      }

      
.contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #2a2a2a98;
  }
  
  
  .contenido h1{
  color: white;
  }
  
  .contenido h1,
  .contenido p,
  .contenido a {
  margin: 0;
  margin-top: 15px;
  }
  .contenido p{
  padding-right: 30px;
  }

/*?FIN MAIN GRANADINES*/

/*otros*/
h2, h4 {
  margin: 0;
  color: white;
  font-family: "Work Sans", sans-serif;
  }  
